{
    "total": {{ result.length }},
    "count": {{ result.rows }},
    "data": [
        {% for row in result.data %}
            {
                "file": "{{ row.0 }}",
                "name": "{{ row.1 }}, {{ row.2 }}",
                "formalName": "{% if row.4 %} {{ row.4 }} {% endif %}{{row.2}} {{ row.1}}",
                "title": "{{ row.3 }}",
                "birthDate": "{{ row.5 }}",
                "hireDate": "{{ row.6 }}",
                "address": {
                    "streetAddress": "{{ row.7 }}",
                    "city": "{{ row.8 }}",
                    "postalCode": "{{ row.9 }}",
                    "country": "{{ row.10 }}"
                },
                "phone": "{{ row.11 }}",
                "extension": "{{ row.12 }}",
                "notes": "{{ row.13 }}"
            }{% if not loop.last %},{% endif %}
        {% endfor %}
    ]   
}