{
    "total": {{ result.length }},
    "count": {{ result.rows }},
    "data": [
        {% for row in result.data %}
            {
                "id": "{{ row.0 }}",
                "company": {
                    "name": "{{ row.1 }}",
                    "address": {
                        "streetAddress": "{{ row.4}}",
                        "city": "{{ row.5 }}",
                        "postalCode": "{{ row.7 }}",
                        "country": "{{ row.8 }}"
                    }
                },
                "contact":{
                     "name": "{{ row.2 }}",
                     "title": "{{ row.3 }}",
                     "phone": "{{ row.9 }}",
                     "fax": "{{ row.10 }}"
                }
            }{% if not loop.last %},{% endif %}
        {% endfor %}
    ]   
}